<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University</title>
</head>
<body>
    <h1><%= university.name %></h1>
    <h2><%= university.location %></h2>

    <div>
        <a href="/universities/<%= university._id %>/edit">Edit University</a>
    </div>
    <div>
        <form action="/universities/<%= university._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </div>
    <div>        
        <a href="/universities">All Universities</a>
    </div>
</body>
</html>