.home-body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://myareanetwork-photos.s3.amazonaws.com/editorphotos/f/28868_1531713118.jpg");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.07rem 0.12rem rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 6rem rgba(0, 0, 0, 0.6);
}
.cover-container {
    max-width: 60vw;
}

.main-home {
    background-color: rgba(0, 0, 0, 0.5);
}